/*
 * Estilos utilizados na home.jsp
 */
header {
	background-color: #006da3;
	border-bottom: 4px solid #1e90ff;
	margin-bottom: 50px;
	padding-left: 20px; 
}

.input-lg { text-align: center; }

.no-margin { margin: 0; }

.no-padding { padding: 0; }

#bloco-resultado { padding-top: 30px; }

.highlight { background-color: #b3ffb9 !important; }

#mapa { height: 400px; }


/*******************************************************
 * Estilos utilizados nas páginas administrativas.jsp  *
 *******************************************************/

.centralizarBox { margin:100px 0 10px 0; }
.blocoPai { margin:140px auto}

.logo { padding-top: 1px; }

.barra{
		background-color:#006da3;
		border-bottom: 4px solid #1E90FF;
		color:#fff;
		clear: fixed;
		}
		
.blocoLogin {
			float:right;
			background-color:#1E90FF;
			margin-top:16px;
			padding:11px;
}

 .borda-form{ border: 1px solid silver; padding:8px; }

.linha {
			border:none;
			border-bottom: 2px solid #1E90FF;
}

.tamanho { font-size:3em; }

.boxLink {
		   text-align:center;
		   border: solid 2px silver;
		   padding:15px;
	       margin-bottom:20px;
		   text-decoration: none;
}

.boxLink:hover {
		   background-color: #1E90FF;;
		   color:#fff;
		   text-decoration: none;
}

a:link, a:visited, a:active {
		text-decoration: none;
		color: #333;
}
.tr_padrao:hover { background-color: #e8e8e8 !important; }

.centralizadora{ margin-left:22px; }

.botao{
		padding:1px;   
		text-align:center;
		background-color:#e5c100;
		width:32px;
		border: 1px solid #fff;
		border-radius: 5px; float:left; margin:0 5px
}



.botao-datableUnidade{ color:#fff; margin:0 7px; }
										
