/*
 * Estilos utilizados na home.jsp
 */
header {
	background: #006da3;
	border-bottom: 4px solid #1e90ff;
	height: 54px;
	margin-bottom: 50px;
	padding-left: 20px; 
}

.input-lg { text-align: center; }

.no-margin { margin: 0; }

.no-padding { padding: 0; }

#bloco-resultado { padding-top: 30px; }

.highlight { background-color: #b3ffb9 !important; }

#mapa { height: 400px; }